/* Variables
-------------------------------------------------------------------------- */

// Base
$container			: ".container";
$flex				: ".flex";
$form				: ".form";
$text				: ".text";

// Components
$app				: ".app";
$instant			: ".instant";
$section			: ".section";
