/* Container
-------------------------------------------------------------------------- */
$container: ".container";

#{$container} {
	display  : block;
	width    : 100%;
	max-width: $container-md;

	margin: 0 auto;

	padding-right: $container-md-padding;
	padding-left : $container-md-padding;

	&.fluid {
		max-width: 100%;
	}
}
